---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section>
        <p>Take the dust road less travelled</p>

        <div>
            <div>
                <p>
                    Experience the raw beauty of Sierra Calderona on our
                    high-performance fleet. From sunset cruises to expert technical
                    trails.
                </p>
                <div>
                    <button> Book Your Ride </button>
                    <button> View Tours</button>
                </div>
            </div>

            <div>
                <div>
                    icon
                    <div>
                        <p>Peak Altitu</p>
                        <p>1,012 Meters</p>
                    </div>
                </div>
                <p>
                    Traverse the highest peaks of the Valencia coast with out expert
                    guides and top-tier equipment
                </p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <p>Choose Your Path</p>
            <p>Unleash the power in Valencia</p>
            <p>
                Turn heads from Prebo to Guaparo. More speed, less stress, and
                all the flow you need to conquer the city
            </p>
        </div>

        <div>
            <img src="" alt="" />
        </div>
    </section>

<section>

    <img src="/moto.png" alt="">
</section>

</Layout>
