---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <button> All Tours</button>
        <button> Mountain Adventure </button>
        <button> Sunset Expeditions</button>
        <button> Family Friendly </button>
    </section>

    <section>
        <p>Expert Toprated</p>

        <img src="/fondoa" alt="" />

    </section>
    <p>Cerro El Cafe</p>
    <p>4 Hours</p>
    <p>Technical</p>

    <div>Starting from</div>
    <p>149.3</p>

    <section>
        <img src="/fondob" alt="" />
    </section>
    <p>Playa Waikiki</p>
    <p>2.5 Hours</p>
    <p>Scenic</p>

    <div> Starting From</div>
    <p>82.6</p>

<section> 
    <img src="/" alt="">
    <p> Centro Sambil </p>
</section>

</Layout>
