---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Aventure Extreme</title>
	</head>
	<body>
		<header>
			<p><Icon name="noto--mountain" size={30} /> Aventure Extreme</p>
			<div>
				<a href="/">Routes</a>
				<a href="/nuestra-flota">Our-fleet</a>
				<a href="/reserva-contacto">Booking</a>
				<a href="/valencia-quads">Safety</a>
			</div>

			<div>
				<button>Botton now</button>
			</div>
		</header>
	</body>
	<slot />
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
