---
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Aventure Extreme</title>
	</head>
	<body>

		<li><a href="/">Home</a></li>
		<li><a href="/flota">flota</a></li>
		<li><a href="/reserva">reserva</a></li>
		<li><a href="/rutas">rutas</a></li>
		
	</body>

	<div>
		<button>Botton now</button>
	</div>
</html>

<slot />

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
